{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block precontent %}
<div class="main-content">
	<div class="container">
		<div class="grid">
			<div class="col-md-12 center">
				<h1>Finalium Preview</h1>
				<p>squareBracket's framework, by Gamerappa</p>
				<a class="button button-warning button-large">Get started</a>
			</div>
		</div>
	</div>
</div>

	{% endblock %}

	{% block content %}
<div class="grid">
	<div class="col-md-12 center">
		<h1>This is a placeholder.</h1>
		<p>We'll add more shit in here later</p>
	</div>
</div>

	{% endblock %}
